{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <section class="team-members">
        {% for chaqueMembre in team %}
            <article>
                <img
                        src="{{ chaqueMembre.picture }}"
                        alt="{{ chaqueMembre.lastname }}">
                <div>
                    <h3>
                        {{ chaqueMembre.firstname }}
                        {{ chaqueMembre.lastname }}
                        {% if chaqueMembre.lastname == 'Potencier' %}
                            &#128151;
                        {% endif %}
                        <!-- Ternaire -->
                        {{ chaqueMembre.lastname == 'Potencier' ? "&#128151" : "" }}
                    </h3>
                    <p>
                        Date de naissance :
                    {{ chaqueMembre.dateOfBirth | date("d-m-Y") }}
                    </p>
                    <p>
                        {{ chaqueMembre.description }}
                    </p>
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}

