<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap">
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% block css %}{% endblock %}
    <title>
        {% block title %}
            Bucket List
        {% endblock %}
    </title>
</head>
<body>
<header>
    <div class="container">
        <h1 class="header-logo">
            <a href="{{ path('main_index') }}">
                <img src="{{ asset('img/logo.png') }}" alt="logo">
                Bucket List
            </a>
        </h1>
    </div>
    <nav class="header-nav">
        <a href="{{ path('main_index') }}">Maison</a>
        <a href="{{ path('wish_list') }}">Tous les souhaits</a>
        <a href="{{ path('main_about_us') }}">A propos de nous</a>
    </nav>
</header>
<main>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main>
{% include 'fragments/_footer.html.twig' %}
</body>
</html>
